@page "/add-course"
@using MyCourseApp.Web.Models
@using MyCourseApp.Web.Services
@inject CourseService CourseService

<h3>Add a New Course</h3>

<EditForm Model="@course" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="courseTitle">Course Title</label>
        <InputText id="courseTitle" class="form-control" @bind-Value="course.Title" />
    </div>

    <div class="form-group">
        <label for="courseDescription">Course Description</label>
        <InputText id="courseDescription" class="form-control" @bind-Value="course.Description" />
    </div>


    <div class="form-group">
        <label for="courseTeacher">Teacher Id</label>
        <InputNumber id="courseTeacher" class="form-control" @bind-Value="course.TeacherId" TValue="int" />
    </div>

    <button type="submit" class="btn btn-primary">Add Course</button>
</EditForm>



@code {
    private Course course = new Course();

    private async Task HandleSubmit()
    {
        await CourseService.AddCourseAsync(course);
        // Optionally, show a message or redirect after successful submission
    }
}
